<main class="main-content">

    <section class="title-section">
        <h1 class="main-title color-75"><span class="material-icons"> timeline </span> Zip Numbers</h1>
        <h4 class="color-42">Este algoritmo organiza todos los números que ingreses, a modo de sierra o cremallera</h4>
        <div class="flat-card">
            <p> <mat-icon>info</mat-icon> Siempre un número deberá estar entre dos números mayores a él, a menos que sea el primer o último número</p>
        </div>
    </section>
    <mat-card class="m-2 mat-elevation-z3 main-card">
        <h4>Ingresa varios números separados por comas y sin espacios ejem: 1,6,4,7</h4>
        <form class="example-form" style="width: 100%;">
            <mat-form-field class="field-full-width" appearance="fill">
                <mat-label for="numInput">Números aleatorios</mat-label>
                <input matInput placeholder="Ejem: 1,4,7,6,23,5" id="numInput" >
            </mat-form-field>
        </form>
        <div class="btn-content">
            <button mat-raised-button color="primary">Procesar números</button>
        </div>
    </mat-card>
    
    <!-- Result -->
    <mat-card class="m-2 mat-elevation-z3 main-card">
        <h4>El resultado es:</h4>
        
    </mat-card>

    <p>
        Email: <br/>
        <input type="email" [formControl]="userInput">
    </p>
    <button type="button" (click)="getNums($event)">Save</button>
    
</main>


